.App-logo {
  height: 1.5em;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-rotate infinite 10s linear;
  }
}

.App-header {
  background-color:  #fff;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-body {
  margin-top: 90px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-rotate {
  0%, 100% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-45deg);
  }
}